/*
img-size 800 *504
*/

body, #container div {
    margin: 0;
    padding: 0;
}

.bg-attachment {
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 55%;
    max-height: 502px;
}

.absolute-center {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#container div:nth-child(1) {
    background-color: #FF6666;
    background-image: url('images/cat0.gif');
}

#container div:nth-child(2) {
    background-color: #CC6699;
    background-image: url('images/cat1.gif');
}

#container div:nth-child(3) {
    background-color: #339999;
    background-image: url('images/cat2.gif');
}

#container div:nth-child(4) {
    background-color: #FFCC99;
    background-image: url('images/cat3.gif');
}

#container div:nth-child(5) {
    background-color: #99CCCC;
    background-image: url('images/cat4.gif');
}

#container div:nth-child(6) {
    background-color: #CC9999;
    background-image: url('images/cat5.gif');
}

#container div:nth-child(7) {
    background-color: #0099CC;
    background-image: url('images/cat6.gif');
}

#container div:nth-child(8) {
    background-color: #66CC66;
    background-image: url('images/cat7.gif');
}

#container div:nth-child(9) {
    background-color: #CC99CC;
    background-image: url('images/cat8.gif');
}

#container div:nth-child(10) {
    background-color: #336699;
    background-image: url('images/cat9.gif');
}

#container div:nth-child(11) {
    background-color: #66CCCC;
    background-image: url('images/cat10.gif');
}

#container div:nth-child(12) {
    background-color: #F26666;
    background-image: url('images/cat11.gif');
}

#container div:nth-child(13) {
    background-color: #9966CC;
    background-image: url('images/cat12.gif');
}

